.header-1 {
    width: 55%;
}

.header-2 {
    display: flex;
    justify-content: space-between;
}

.card-content {
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

.details {
    width: 60%;
}

.sum-tag {
    width: 10%;
}

.plus {
}